.section {
    background: #1C1D21;
    box-shadow: 0px 3px 50px rgba(59, 115, 79, 0.16);
    border-radius: 14px;
    width: 350px;
    height: 500px;
}

.title {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    /* identical to box height, or 117% */
    /* Font/Contrast */
    color: #FFFFFF;
}

.social {}

.comp {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    display: flex;
    align-items: center;
    /* Main/Blue */
    color: #6487FF;
}

.players {
    width: 279px;
    height: 109px;
    display: flex;
    align-items: center;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
    ;
    margin-bottom: 24px;
}

.p1 {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    /* identical to box height, or 117% */
    text-align: center;
    /* Font/Contrast */
    color: #FFFFFF;
}

.p2 {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */
    text-align: center;
    /* Footer text */
    color: #93989A;
}

.close {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* or 117% */
    color: #93989A;
}

.time {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    /* or 117% */
    color: #FFFFFF;
}

.btnChallenge {
    width: 278px;
    height: 40px;
    /* Main/Blue */
    background: #6487FF;
    border-radius: 14px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 15.25px;
}

.btnText {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height, or 117% */
    color: #FFFFFF;

}